@font-face{
  font-family: OperatorMonoLig;
  src: url(../src/assets/fonts/OperatorMonoLig-Book.otf);
}
body {
  margin: 0;
  font-family: OperatorMonoLig, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
